<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>950307486182-86m210efg8pmp7lhik9ruovh4tv0bnoe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.950307486182-86m210efg8pmp7lhik9ruovh4tv0bnoe</string>
	<key>API_KEY</key>
	<string>AIzaSyD-vpcq6AJUmIU0r5b9o_LnLhdd4DLVZrY</string>
	<key>GCM_SENDER_ID</key>
	<string>950307486182</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mobiex.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-6d7d8</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-6d7d8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:950307486182:ios:50b68e797cfc82654c3e27</string>
</dict>
</plist>